@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ededed;
  font-family: 'Inter', sans-serif;
  margin: 0;
  overflow-x: hidden; /* Prevents horizontal scroll */
}

/* Custom scrollbar to match the theme */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #DC143C; /* Red on hover */
}